[Desktop Entry]
Encoding=UTF-8
Name=github.com/nbeaver/tengwarscript-install-guide
Type=Link
URL=https://github.com/nbeaver/tengwarscript-install-guide
Icon=text-html
