[Desktop Entry]
Name=github.com/nbeaver/tengwarscript-install-guide
Type=Link
URL=https://github.com/nbeaver/tengwarscript-install-guide
Icon=text-html

